/* CSS Document */
body, ul, img, li, p{
	     margin:0px;
		 padding:0px;
		 list-style:none;
}

.out{
	width:100%;
	color:rgb(86,86,84);
}
.in{
	margin-top:40px;
	margin-left:35px;
	float:left;
}
.out  img{
	width:126px;
	height:197px;
	margin-left:20px;
	margin-top: 5px;
	
	
}





		 

